In [1]:
from utilities import database as db
import pandas as pd

In [2]:
df = pd.read_sql('SELECT 1 as test', db.get_engine())
df

   test
0     1